<!DOCTYPE html>
<html>
	<%# Generate title. %>
	<% provide(:title, 'About') %>

	<body>
		<div class="content">
			<div>
				<div>
					<br>
					<br>
					<h2>About Us</h2>
					<p> Don't know about USYD-Connect? Read below to find out who we are!</p>
			
					<div id="what_do_we_do">
						<h3> Who are we?</h3>
						<p>
							USYD-Connect is run by five core team members
							<li> Henry Su </li>
							<li> Brian Mok </li>
							<li> Rick Ni</li> 
							<li> Catherine Yousheyah </li>
							<li> Mark Angelo Lim </li>
						</p>
						<h3> Our motivation </h3> 
						<p> 
							As a student, have you ever asked yourself, "How do I know if this subject is right for me?" or, "What subjects should I even pick for next semester?" To answer this question, students were often limited to the following ways:
								<ul>
									 <li> Physically ask or communicate online for opinion from a student that has previously taken the subject </li>
									 <li> Arrange an appointment with a lecturer to discuss the subject </li>
									 <li> Search the USYD website for the subject's official course outline.</li>
								</ul>
							</br>
							We realise that not everyone may know someone that has previously taken the subject, or they might not have the time to arrange an appointment with the lecturer. With USYD-Connect, we aim to help solve this problem. 
						</p>
						<h3> What do we do? </h3>
						<p>
							USYD-Connect serves as an information hub for the USYD community where staff and students interact casually in a forum environment. More specifically, our services allow users to register their a profile and participate in the forum by posting and answering questions. Through this, we are able to create an online forum where students can easily seek the answers that they desire.  
						</p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>