<!DOCTYPE html>
<html>
	<%# Generate title. %>
	<% provide(:title, 'Policy') %>

	<body>

		<div class="content">
		<div id="content">
			<div id="random">
				<h2>Terms and Conditions / Privacy Statement / Disclaimer</h2>
				<strong><p>Please read the following Terms and Conditions, Privacy Statement, and Disclaimer carefully as they apply to your use of this site at http://usydconnect.herokuapp.com. 
				</p></strong>
						<br/>
				<p>In using this site, one is deemed a "USYD Connect user" and is required to follow all of the following Terms and Conditions. In the case that one finds disagreement with any of the Terms and Conditions, the one in regard must discontinue use of this site immediately. USYD Connect assumes no liability nor ownership of any information, files, links posted on http://usydconnect.herokuapp.com, and any consequences regarding misuse of any of our services. 
				</p>
			</div>
						<br/>			
			<div id="terms">
				<h4>1. User Eligibility</h4>
				<p>USYD Connect is available for use for all University of Sydney staff and students; who register with a valid University of Sydney email address. 
				</p>
						<br/>
				<h4>2. Posting</h4>
				<p>Content made or posted by users of USYD Connect are considered the intellectual property of the person who posted or made the content in regard. USYD Connect does not own anything posted by its users. Registered users of USYD Connect are assumed to have agreed not to violate the Terms and Conditions. In the case that such agreement is breached, the user shall accept the sentence placed upon them.
				</p>
						<br/>			
				<h4>3. Multimedia</h4>
				<p>Images, Videos, and any other multimedia may be embedded in posts but are not hosted by USYD Connect. If you believe that any of your copyrighted content is displayed on USYD Connect, please directly contact the companies hosting your content. 
				</p>
						<br/>
				<h4>Responsibility of Actions</h4>
				Sharing of registered accounts is permitted but not recommended. The owner of a registered account shall assume all liability for all actions, and all consequences regarding any misconduct committed on their account. 
			</div>
						<br/>	
			<div id="privacy">
				<h3>Privacy Statement</h3>
				<p>USYD Connect puts the protection of the privacy of its users in high regard, and handles personal information in utmost levels of confidentiality that we are capable of. Any information that users directly supply, such as through registration (when registering on our site, you may be asked to enter your: name or e-mail address	- you may, however, visit our site anonymously.), and through posting, may be collected and used in one of the following ways:
				</p>
						<br/>
				<p><ul>
					<li>- To personalise user experience</li>
					<li>(your information will help us find what is more suitable for your individual needs)</li>
						<br/>
					<li>- To improve our site</li>
					<li>(your information and feedback we receive from you will aid us in improving services on our site)</li>
						<br/>
					<li>- To improve customer service</li>
					<li>(your information helps us to respond to your customer service requests more effectively)</li>
						<br/>
					<li>- To process transactions</li>
					<li><blockquote>Your information, whether public or private, will not be sold, exchanged, transferred, or given to any other company for any reason whatsoever, without your consent.</blockquote></li>
					<li>- To send periodic emails</li>
					<li>(The email address you provide may be used to send you information, respond to inquiries, and/or other requests or questions.)</li>
						<br/>
				</ul></p>
				<p><strong>Use of Cookies</strong>
				USYD Connect may use cookies to collect online traffic data, and to remember your preferences.
				</p>
			</div>
						<br/>
			<div id="disclaimer">
				<p>By using our site, you consent to our website Privacy Policy, and accept our Terms and Conditions. 
				</p>
						<br/>
				<p>If any changes are made to our privacy policy, we will send an email notifying you of any changes, and/or update the Privacy Policy modification date below.
				</p>
						<br/><br/>
				<p>Policy last updated on: 26/09/2013
				</p>
						<br/><br/><br/>
			</div>
		</div>
		</div>
</html>